input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #cccccc;
  font-style: italic;
  font-size: 13px;
}
input::-moz-placeholder {
  /* Firefox 19+ */
  color: #cccccc;
  font-style: italic;
  font-size: 13px;
}
input:-ms-input-placeholder {
  /* IE 10+ */
  color: #cccccc;
  font-style: italic;
  font-size: 13px;
}
input:-moz-placeholder {
  /* Firefox 18- */
  color: #cccccc;
  font-style: italic;
  font-size: 13px;
}
a:hover,
a:focus {
  text-decoration: none;
}
body {
  position: relative;
}
button.dm-input {
  position: absolute;
  bottom: 15px;
  right: 15px;
  background-color: #f71114;
  color: #ffffff;
}
button.dm-input:hover {
  opacity: 0.8;
}
.left-layout {
  width: 25%;
  float: left;
  background-color: #020103;
  display: block;
}
.left-layout h3.title {
  text-align: center;
  color: #e1e1e1;
  text-transform: uppercase;
  font-weight: bold;
}
.left-layout ul.list-row {
  max-height: calc(100% - 100px);
  overflow-y: scroll;
  padding: 0;
  margin: 0;
}
.left-layout ul.list-row::-webkit-scrollbar {
  width: 6px;
}
.left-layout ul.list-row::-webkit-scrollbar-track {
  -webkit-box-shadow: 0;
  box-shadow: 0;
}
.left-layout ul.list-row::-webkit-scrollbar-thumb {
  background-color: #e1e1e1;
  outline: 0;
}
.left-layout ul.list-row li {
  display: flex;
  display: -webkit-flex;
  color: #ffffff;
}
.left-layout ul.list-row li .id {
  flex-basis: 20px;
  -webkit-flex-basis: 20px;
  border: 1px solid #e1e1e1;
  text-align: center;
  padding: 5px;
  max-height: 45px;
  overflow: hidden;
}
.left-layout ul.list-row li .name {
  flex-basis: calc(100% - 20px);
  -webkit-flex-basis: calc(100% - 20px);
  border: 1px solid #e1e1e1;
  padding: 5px 5px;
}
.left-layout ul.list-row li .name a {
  color: #ffffff;
}
.left-layout ul.list-row li:first-child {
  color: #ffffff;
  font-size: 17px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}
.left-layout ul.list-row li:first-child .id {
  padding: 0;
  padding-top: 5px;
}
.right-layout {
  width: 75%;
  float: right;
  display: block;
}
.search ul.dm-tabs {
  border: none;
  background-color: #098DB2;
}
.search ul.dm-tabs li {
  padding: 0;
  width: calc(100%/3);
  border-radius: 0;
}
.search ul.dm-tabs li.active a {
  border-radius: 0;
  border: none;
  border-bottom: 1px solid #333333;
  outline: none;
  background-color: #333333;
  cursor: pointer;
}
.search ul.dm-tabs li a {
  color: #ffffff;
}
.search ul.dm-tabs li a:hover {
  border-radius: 0;
  background-color: #07C9FF;
  outline: none;
  border: none;
}
section#book {
  padding-top: 10px;
}
section#book form.find {
  display: flex;
  display: -webkit-flex;
  border: 1px solid #e1e1e1;
  margin-top: 10px;
}
section#book form.find button {
  flex-basis: 110px;
  -webkit-flex-basis: 110px;
  border-radius: 0;
}
section#book form.find input {
  width: calc(100% - 110px);
  border-radius: 0;
  border: none;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
section#book form.find input:focus {
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: none;
}
section#author,
section#store {
  padding-top: 10px;
}
section#author form,
section#store form {
  display: flex;
  display: -webkit-flex;
  border: 1px solid #e1e1e1;
  margin-top: 10px;
}
section#author form button,
section#store form button {
  flex-basis: 110px;
  -webkit-flex-basis: 110px;
  border-radius: 0;
}
section#author form input,
section#store form input {
  width: calc(100% - 110px);
  border-radius: 0;
  border: none;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
section#author form input:focus,
section#store form input:focus {
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: none;
}
.result {
  margin-top: 20px;
}
.result table {
  width: 100%;
}
.result table th,
.result table td {
  padding: 3px 10px;
  text-align: center;
  border: 1px solid #e1e1e1;
  max-height: 30px;
  overflow: hidden;
}
.result table th input.form-control,
.result table td input.form-control {
  width: auto;
  height: auto;
  margin: 0 auto;
}
.result table th ul,
.result table td ul {
  padding: 0px;
  margin: 0;
  text-decoration: none;
}
.checking-time p {
  margin-bottom: 0;
  margin-top: 10px;
  text-align: center;
}
.dm-thang {
  background-color: #000000;
  outline: none;
  border: none;
}
.dm-thang:hover {
  background-color: #000000;
  color: #07C9FF;
}
.dmt-thang {
  background-color: #ffffff;
  outline: none;
  border: none;
}
.dmt-thang:hover {
  background-color: #ffffff;
  color: #07C9FF;
}
